## Data Gen

I want to create a retail data mart

This has tables like

1. ClickLogs (sessionid, deviceid, userid, id, pageurl, previousurl, time) 
2. Users (id, name#, email#, address#, country#, join_date)
3. Products
4. Sale
5. AddToCart
6. Returns 
7. Categories

In [1]:
!pip install Faker

Collecting Faker
  Downloading Faker-11.3.0-py3-none-any.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 2.8 MB/s eta 0:00:01
Collecting text-unidecode==1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 9.7 MB/s  eta 0:00:01
Requirement already satisfied: python-dateutil>=2.4 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Installing collected packages: text-unidecode, Faker
Successfully installed Faker-11.3.0 text-unidecode-1.3

In [24]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.5 MB)
     |████████████████████████████████| 11.5 MB 3.3 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from pandas) (2.8.2)
Collecting pytz>=2017.3
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
     |████████████████████████████████| 503 kB 76.7 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.17.3 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from pandas) (1.21.4)
Requirement already satisfied: six>=1.5 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.5 pytz-2021.3

In [1]:
!pip install fasttext

Collecting fasttext
  Downloading fasttext-0.9.2.tar.gz (68 kB)
     |████████████████████████████████| 68 kB 2.3 MB/s eta 0:00:01
Collecting pybind11>=2.2
  Using cached pybind11-2.9.0-py2.py3-none-any.whl (210 kB)
Requirement already satisfied: setuptools>=0.7.0 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from fasttext) (59.2.0)
Requirement already satisfied: numpy in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from fasttext) (1.21.4)
Building wheels for collected packages: fasttext
  Building wheel for fasttext (setup.py) ... done
  Created wheel for fasttext: filename=fasttext-0.9.2-cp39-cp39-linux_x86_64.whl size=307078 sha256=d51906213ab5eab523d0624b2aa88c6b94fd8800c3c15702666cec92196346fd
  Stored in directory: /home/studio-lab-user/.cache/pip/wheels/64/57/bc/1741406019061d5664914b070bd3e71f6244648732bc96109e
Successfully built fasttext
Installing collected packages: pybind11, fasttext
Successfully installed fasttext-0.9.2 pybind11-2.9.0

In [31]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.6.7-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 3.1 MB/s eta 0:00:01
Collecting joblib
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
     |████████████████████████████████| 306 kB 28.6 MB/s eta 0:00:01
Collecting tqdm
  Downloading tqdm-4.62.3-py2.py3-none-any.whl (76 kB)
     |████████████████████████████████| 76 kB 4.2 MB/s eta 0:00:011
Collecting regex>=2021.8.3
  Downloading regex-2021.11.10-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (763 kB)
     |████████████████████████████████| 763 kB 24.3 MB/s eta 0:00:01
Collecting click
  Downloading click-8.0.3-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 7.2 MB/s  eta 0:00:01
Installing collected packages: tqdm, regex, joblib, click, nltk
Successfully installed click-8.0.3 joblib-1.1.0 nltk-3.6.7 regex-2021.11.10 tqdm-4.62.3

In [33]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/studio-lab-
[nltk_data]     user/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [2]:
import pandas as pd
import re, string;

In [3]:
# import urllib
# urllib.request.urlretrieve("https://amazon-berkeley-objects.s3.amazonaws.com/static_html/assets/listings.json", "listing3.json")

In [4]:
import json 



def getProducts(language_prefix=""):
    if (getProducts._products is None):
        lines = open("listings.json").readlines()
        l1 = [json.loads(line) for line in lines]
        l2 = [ [l['item_id'],l.get('main_image_id',''),l['item_name'][0]['value'],l['item_name'][0]['language_tag'],l['product_type'][0]['value'], l['domain_name'],",".join(l.get('other_image_id',[]))] for l in l1]
        getProducts._products = pd.DataFrame(l2,columns=["id","image_id_main","name","language","category","domain","image_ids_other"])
    languages = [l for l in getProducts._products.language.unique() if language_prefix in l]
    return getProducts._products[getProducts._products['language'].isin(languages)]

getProducts._products = None

In [5]:
df=getProducts("en_")

In [6]:
df.head()

,id,image_id_main,name,language,category,domain,image_ids_other
0,B0857LX8VK,61kQWDA5EIL,Amazon Brand - Solimo Designer Red Moon UV Pri...,en_IN,CELLULAR_PHONE_CASE,amazon.in,"61+woWTqkwL,61SE4RTPjdL"
4,B07YF2L8YK,71E1C39m8tL,"AmazonBasics Flex Style Correction Tape, 6-Pack",en_CA,OFFICE_PRODUCTS,amazon.ca,"71EL3apdNWL,61h6xXK3M8L,51d-Pa+EC+L,61mJdxkw4CL"
5,B07YFG4GF1,81svzHPcn7L,Concept 3 by Skechers Issel Lace-up Casual Sne...,en_GB,SHOES,amazon.co.uk,"81Vgckr3ISL,81rbO80vpOL,71TY0I+fncL,71ZOP4y25v..."
7,B00R45AFPO,91FAysakrbL,"AmazonBasics 100% Cotton Duvet Set, Green Bloc...",en_GB,HOME_BED_AND_BATH,amazon.co.uk,A1w+DAKDs6L
8,B00SXKUIX8,A1JiwW0pf4L,AmazonBasics 4-Piece Packing Cube Set - 2 Medi...,en_US,SUITCASE,primenow.amazon.com,"A1hFXE9J9OL,61W0fs5v8fL,91EJxyLTvFL,91vCCws6tA..."

In [7]:
df.category.unique()

array(['CELLULAR_PHONE_CASE', 'OFFICE_PRODUCTS', 'SHOES',
       'HOME_BED_AND_BATH', 'SUITCASE', 'HOME', 'FLATWARE',
       'HOME_FURNITURE_AND_DECOR', 'BOOT', 'SHELF', 'SCREWDRIVER',
       'TOOLS', 'HARDWARE', 'GROCERY', 'PET_SUPPLIES', 'ACCESSORY',
       'FINEEARRING', 'SANDAL', 'HARDWARE_HANDLE', 'DRINKING_CUP',
       'OUTDOOR_LIVING', 'SAFETY_SUPPLY',
       'PORTABLE_ELECTRONIC_DEVICE_STAND', 'MEDICATION', 'BACKPACK',
       'BATTERY', 'LAMP', 'FINENECKLACEBRACELETANKLET', 'TOYS_AND_GAMES',
       'TABLE', 'SPORTING_GOODS', 'JANITORIAL_SUPPLY', 'OTTOMAN', 'HERB',
       'ABIS_KITCHEN', 'FOOD_SERVICE_SUPPLY', 'BREAD', 'RECREATION_BALL',
       'FLAT_SHEET', 'HANDBAG', 'CAMERA_SUPPORT', 'PLUMBING_FIXTURE',
       'LABEL', 'CLOTHES_HANGER', 'WIRELESS_ACCESSORY',
       'PORTABLE_TOOL_BOX', 'HEADPHONES', 'CAMERA_TRIPOD', 'EARRING',
       'FILE_FOLDER', 'ACCESSORY_OR_PART_OR_SUPPLY', 'STORAGE_HOOK',
       'WRENCH', 'NUTRITIONAL_SUPPLEMENT', 'SWATCH', 'COFFEE',
       'FURNITURE_COVER', 'DESK', 'WRITING_BOARD', 'SOFA',
       'INSTRUMENT_PARTS_AND_ACCESSORIES', 'PROTEIN_SUPPLEMENT_POWDER',
       'PERCUSSION_INSTRUMENTS', 'JUICE_AND_JUICE_DRINK', 'SPEAKERS',
       'SCREEN_PROTECTOR', 'HAT', 'FURNITURE', 'WALLET', 'SAUTE_FRY_PAN',
       'MARKING_PEN', 'HEALTH_PERSONAL_CARE', 'TECHNICAL_SPORT_SHOE',
       'CHAIR', 'OVERALLS', 'VEHICLE_SEAT_COVER',
       'PORTABLE_ELECTRONIC_DEVICE_COVER', 'MULTIPORT_HUB', 'MICROPHONE',
       'DAIRY_BASED_DRINK', 'KITCHEN', 'STAPLER',
       'HOME_LIGHTING_AND_LAMPS', 'MOUSE_PAD', 'THERMOPLASTIC_FILAMENT',
       'EARMUFF', 'DISHWARE_PLATE', 'SKIN_CLEANING_AGENT',
       'DAIRY_BASED_CHEESE', 'TOWEL_HOLDER', 'SAUCE', 'SNACK_FOOD_BAR',
       'DRYING_RACK', 'CLEANING_AGENT', 'BEAUTY', 'AREA_DEODORIZER',
       'MECHANICAL_COMPONENTS', 'CHARGING_ADAPTER', 'FLASH_MEMORY',
       'STORAGE_BINDER', 'NECKLACE', 'STOOL_SEATING',
       'CAMERA_OTHER_ACCESSORIES', 'ELECTROMECHANICAL_GAUGE',
       'DISHWARE_PLACE_SETTING', 'BAG', 'PINBOARD',
       'WIRELESS_LOCKED_PHONE', 'FLAT_SCREEN_DISPLAY_MOUNT',
       'AMAZON_TABLET_ACCESSORY', 'EXERCISE_BAND', 'OFFICE_ELECTRONICS',
       'ELECTRONIC_ADAPTER', 'DRESSER', 'LAUNDRY_HAMPER',
       'HOME_ORGANIZERS_AND_STORAGE', 'FINERING', 'AUTO_OIL',
       'KITCHEN_KNIFE', 'AUTO_PART', 'OUTDOOR_RECREATION_PRODUCT',
       'PAPER_PRODUCT', 'LOCK', 'HARDWARE_TUBING', 'TOILET_PAPER_HOLDER',
       'SAFE', 'BISS', 'FASHIONEARRING', 'WASTE_BAG', 'LIGHT_FIXTURE',
       'SKIN_MOISTURIZER', 'LIGHT_BULB', 'MUSCLE_ROLLER',
       'CAMERA_BAGS_AND_CASES', 'STORAGE_BOX', 'FOOD_SLICER',
       'WINDOW_SHADE', 'STRINGED_INSTRUMENTS', 'DOORSTOP',
       'STORAGE_DRAWER', 'DUTCH_OVENS', 'HEADBOARD', 'CLOTHES_RACK',
       'EARPLUG', 'FINEOTHER', 'TRASH_CAN', 'BED_FRAME',
       'VIDEO_GAME_ACCESSORIES', 'LAUNDRY_DETERGENT', 'WATER',
       'INPUT_MOUSE', 'ASTRINGENT_SUBSTANCE', 'POULTRY',
       'NOTEBOOK_COMPUTER', 'NETWORK_INTERFACE_CONTROLLER_ADAPTER',
       'DAIRY_BASED_CREAM', 'VITAMIN', 'ENVELOPE', 'PUMP_DISPENSER',
       'ABIS_ELECTRONICS', 'CARRYING_CASE_OR_BAG', 'BOTTLE_OPENER',
       'BASKET', 'NOODLE', 'FURNITURE_LINER', 'RAZOR_BLADE_CARTRIDGE',
       'FACIAL_TISSUE', 'CLEANING_BRUSH', 'BENCH', 'STORAGE_BAG',
       'TOOTHBRUSH_HOLDER', 'MAJOR_HOME_APPLIANCES', 'BOTTLE_RACK', 'JAR',
       'COMPUTER_ADD_ON', 'WOUND_DRESSING', 'WINE', 'FAUCET', 'VEGETABLE',
       'VALVE', 'WATER_PURIFICATION_UNIT', 'CHOCOLATE_CANDY',
       'SKIN_CLEANING_WIPE', 'ABIS_DRUGSTORE', 'NAIL_POLISH',
       'BREAKFAST_CEREAL', 'BODY_POSITIONER', 'CANDLE', 'BRACELET',
       'FASHIONRING', 'POWER_SUPPLIES_OR_PROTECTION', 'TOTE_BAG',
       'PLANTER', 'PET_PEST_CONTROL', 'BINOCULAR', 'SNACK_CHIP_AND_CRISP',
       'SECURITY_ELECTRONICS', 'CAKE', 'PRINT_COPY_PAPER',
       'HARDWARE_HINGE', 'CLOCK', 'STORAGE_RACK', 'HAIRBAND', 'MEAT',
       'AV_FURNITURE', 'LUGGAGE', 'HONEY', 'FISH', 'KEYBOARDS',
       'NUT_BUTTER', 'CABINET', 'AUTO_ACCESSORY', 'CE_ACCESSORY',
       'WRITING_INSTRUMENT', 'UMBRELLA', 'TEA', 'AIR_CONDITIONER',
       'FRUIT', 'DRILL_BITS', 'ABIS_BEAUTY', 'FOOD_STORAGE_BAG',
       'LIP_COLOR', 'LEGUME', 'RUG_PAD', 'CAMERA_LENS_FILTERS',
       'HAIR_COMB', 'SWEATBAND', 'LITTER_BOX', 'TOILET_SEAT',
       'PORTABLE_ELECTRONIC_DEVICE_MOUNT', 'CARGO_STRAP', 'ELECTRIC_FAN',
       'BATHWATER_ADDITIVE', 'BUCKET', 'PLACEMAT',
       'DAIRY_BASED_ICE_CREAM', 'TEACHING_EQUIPMENT', 'PERSONAL_COMPUTER',
       'SALAD_DRESSING', 'TOOTHBRUSH', 'CAN_OPENER', 'PANTRY', 'EYEWEAR',
       'TRANSPORT_RACK', 'DISHWARE_BOWL', 'SHIPPING_BOX',
       'PORTABLE_AUDIO', 'CONSUMER_ELECTRONICS',
       'LICENSE_PLATE_ATTACHMENT', 'VACUUM_CLEANER',
       'CAR_AUDIO_OR_THEATER', 'REMOTE_CONTROL', 'PACIFIER',
       'VEHICLE_INTERIOR_SHADE', 'BED', 'JEWELRY_STORAGE',
       'MINERAL_SUPPLEMENT', 'PACKAGED_SOUP_AND_STEW', 'SHAMPOO',
       'EDIBLE_OIL_VEGETABLE', 'MULTITOOL', 'CANDY',
       'FASHIONNECKLACEBRACELETANKLET', 'SNACK_MIX', 'ORTHOPEDIC_BRACE',
       'PERSONAL_CARE_APPLIANCE', 'DISHWASHER', 'ABIS_LAWN_AND_GARDEN',
       'KNIFE_BLOCK_SET', 'PAPER_TOWEL_HOLDER', 'VINEGAR', 'EXERCISE_MAT',
       'BOTTLE', 'HERBAL_SUPPLEMENT', 'NUTS', 'LEOTARD', 'FUEL_PUMP',
       'STRING_LIGHT', 'ARTIFICIAL_TREE', 'DRINKING_STRAW',
       'COMPUTER_COMPONENT', 'ABIS_HOME_IMPROVEMENT', 'COSMETIC_BRUSH',
       'COOKIE', 'TOY_SLIME', 'SALWAR_SUIT_SET', 'SCISSORS',
       'STICKER_DECAL', 'PRETZEL', 'BEAN_BAG_CHAIR', 'FRUIT_SNACK',
       'BAKING_PAN', 'SAFETY_GLASSES', 'FREESTANDING_SHELTER',
       'ART_AND_CRAFT_SUPPLY', 'ELECTRIC_WATER_BOILER', 'BLANK_MEDIA',
       'SUNSCREEN', 'ABIS_BOOK', 'BAKING_PAPER', 'MOUTHWASH',
       'POWER_STRIP', 'COSMETIC_CASE', 'WATCH', 'BABY_PRODUCT',
       'ROOM_DIVIDER', 'MONITOR', 'INK_OR_TONER', 'PLIERS',
       'LIGHT_SOURCE', 'AUTO_CHEMICAL', 'FLOUR', 'COMPUTER', 'PITCHER',
       'SUGAR', 'DISHWASHER_DETERGENT', 'REFRIGERATOR', 'CRACKER',
       'ANTENNA', 'PROFESSIONAL_HEALTHCARE',
       'SOUND_AND_RECORDING_EQUIPMENT', 'DEHUMIDIFIER', 'WATER_PUMP',
       'DRINK_FLAVORED', 'CARD_STOCK', 'GPS_OR_NAVIGATION_SYSTEM',
       'FOOD_BLENDER', 'FOUNTAIN', 'COFFEE_MAKER', 'FIGURINE',
       'DAIRY_BASED_BUTTER', 'CASSEROLES', 'SELF_STICK_NOTE', 'SAW_BLADE',
       'PAINT_BRUSH', 'TOASTER', 'BAKING_MIX', 'ICE_CHEST', 'POPCORN',
       'TELEVISION', 'RING', 'BADGE_HOLDER', 'SHOWERHEAD',
       'HOME_LIGHTING_ACCESSORY', 'RECEIVER_OR_AMPLIFIER',
       'ANIMAL_LITTER', 'PERSONAL_PILL_DISPENSER', 'MASCARA', 'BARBELL',
       'MILK_SUBSTITUTE', 'BROOM', 'INPUT_PEN', 'SHOE_INSERT',
       'COMPUTER_SPEAKER', 'JERKY', 'LAB_SUPPLY', 'PHONE_ACCESSORY',
       'PET_APPAREL', 'CADDY', 'SUNGLASSES', 'SHEET_PAN', 'STROLLER',
       'HAIR_IRON', 'EYELID_COLOR', 'CONDITIONER', 'MEASURING_CUP',
       'PORTABLE_AV_DEVICE', 'MEDIA_STORAGE', 'CHILDRENS_COSTUME',
       'COMPUTER_DRIVE_OR_STORAGE', 'TENT', 'WHEEL', 'PRESSURE_COOKER',
       'CANDLE_HOLDER', 'WEIGH_SCALE', 'AIR_COMPRESSOR', 'PUNCHING_BAG',
       'CE_CARRYING_CASE_OR_BAG', 'MASSAGER', 'FOOD_PROCESSOR',
       'STEERING_WHEEL_COVER', 'AIR_MATTRESS', 'POWER_CONVERTER',
       'LEAVENING_AGENT', 'FITNESS_BENCH', 'SEALS', 'MICROSCOPES',
       'TOY_BUILDING_BLOCK', 'PASTRY', 'COMPUTER_INPUT_DEVICE',
       'COUNTERTOP_GRIDDLE_APPLIANCE', 'MEAL_HOLDER', 'NON_DAIRY_CREAM',
       'TRACK_SUIT', 'PUZZLES', 'INCENSE', 'BABY_BOTTLE', 'BOXING_GLOVE',
       'MEMORY_READER', 'GPS_OR_NAVIGATION_ACCESSORY', 'HUMIDIFIER',
       'ABIS_VIDEO_GAMES', 'SLEEPING_BAG', 'EDUCATIONAL_SUPPLIES',
       'SPIRITS', 'COSMETIC_POWDER', 'DRINK_COASTER', 'PHONE',
       'POWER_BANK', 'CHARM', 'TOY_FIGURE', 'WRITING_PAPER', 'LIP_BALM',
       'AIR_PUMP', 'FASTENER_DRIVE_BIT', 'RICE_MIX', 'INKJET_PRINTER_INK',
       'ELECTRONIC_DEVICE_DOCKING_STATION', 'KITCHEN_TOOLS',
       'PORTABLE_STOVE', 'VACUUM_SEALER_MACHINE', 'BOOKEND', 'POT_HOLDER',
       'RICE_COOKERS', 'WHEEL_CUTTER', 'FOOD_PREPARATION_MOLD',
       'MICROWAVE_OVEN', 'JUICER', 'UTILITY_KNIFE', 'AIR_PURIFIER',
       'WASHER_DRYER_COMBINATION', 'RADIO', 'VEHICLE_LIGHT_BULB',
       'TERMINAL_BLOCK', 'CALCULATOR', 'SUGAR_CANDY', 'SHELLFISH',
       'SKIN_EXFOLIANT', 'AMAZON_BOOK_READER_ACCESSORY',
       'COUNTERTOP_OVEN', 'LANDLINE_PHONE', 'BARBECUE_GRILL',
       'HAIR_STYLING_AGENT', 'WILDLIFE_FEEDER', 'NECKTIE',
       'VIDEO_PROJECTOR', 'FLAVORED_DRINK_CONCENTRATE',
       'SYSTEM_POWER_DEVICE', 'TOOTH_CLEANING_AGENT', 'FOOD_MIXER',
       'TABLETOP_GAME', 'THERMOS', 'JEWELRY_SET', 'SUGAR_SUBSTITUTE',
       'LAUNDRY_APPLIANCE', 'THICKENING_AGENT', 'TWO_WAY_RADIO',
       'ESSENTIAL_OIL', 'GAME_DICE', 'HAIR_BRUSH', 'COOKING_OVEN',
       'PET_TOY', 'CAMCORDER', 'COUNTERTOP_BURNER',
       'BREAD_MAKING_MACHINE', 'DIGITAL_DEVICE_3', 'FLASH_DRIVE',
       'FASHIONOTHER', 'KICK_SCOOTER', 'BODY_LUBRICANT', 'SUSPENDER',
       'VINE', 'NON_RIDING_TOY_VEHICLE', 'BODY_DEODORANT',
       'HAIR_COLORING_AGENT', 'CAR_ELECTRONICS',
       'REFRIGERATION_APPLIANCE', 'SLEEP_MASK', 'AGRICULTURAL_SUPPLIES',
       'SLOW_COOKER', 'CONDIMENT', 'RUG', 'HOME_MIRROR', 'WALL_ART',
       'PILLOW', 'BUILDING_MATERIAL', 'CURTAIN', 'PICTURE_FRAME',
       'ELECTRONIC_CABLE', 'BLANKET', 'UTILITY_CART_WAGON', 'MATTRESS',
       'ANIMAL_COLLAR'], dtype=object)

In [8]:
df.describe()

,id,image_id_main,name,language,category,domain,image_ids_other
count,106474,106474,106474,106474,106474,106474,106474
unique,105948,95551,101108,7,493,18,73023
top,B07K4SL4HQ,61OnkGVhMWL,Amazon Brand - Symbol Men's Sneakers,en_IN,CELLULAR_PHONE_CASE,amazon.in,"61+woWTqkwL,61SE4RTPjdL"
freq,3,418,300,74006,64668,74002,15011

In [9]:
import nltk
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [10]:
def categoryToWords(cat):
    return " ".join(cat.lower().split("_"))

In [11]:
def cleanTitle(name):
    pattern = re.compile('[\W_]+')
    cleaned1 = pattern.sub(' ', name)
    cleaned2 = " ".join([ word for word in cleaned1.split(" ") if word not in stopwords.words('english') and len(word)>=3 ])
    return cleaned2.lower()

In [12]:
cleanTitle("home Amazon Brand - Solimo Fabric Storage Box with Lid, Medium, Set of 3, Medical Blue and R. Blue")

'home amazon brand solimo fabric storage box lid medium set medical blue blue'

In [13]:
# with open("catv3.txt","w") as train_file:
#     for index,row in df[["name","category"]].iterrows():
#         train_file.write("__label__"+row['category']+" "+cleanTitle(row['name'])+"\r\n")

In [14]:
import fasttext

In [15]:
model = fasttext.load_model("cat_model_v3.bin")

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [16]:
# model= fasttext.train_supervised(input="catv3_train.txt")

In [17]:
#model.save_model("cat_model_v3.bin")

In [19]:
model.test("catv3_val.txt", k=1)

(15985, 0.8873318736315295, 0.8873318736315295)

In [20]:
def getLabels(text="amazon brand solimo designer line texture wall printed hard back case mobile cover gionee f103 pro", clean=True,k=5, threshold=0.1):
    if(clean):
        text = cleanTitle(text)
    (labels,probs) = model.predict(text,k)
    return_list = []
    for index,prob in enumerate(probs):
        if prob >= threshold:
            return_list.append((labels[index],probs[index]))
    return return_list

In [21]:
getLabels("AmazonBasics Retractable Ballpoint Pen Black Pack Renewed",True)

[('__label__OFFICE_PRODUCTS', 0.13958366215229034)]

In [22]:
getLabels("Simple Joys Carter Baby Girls Ella Bootie Chelsea Boot Tan Toddler")

[('__label__BOOT', 0.7276193499565125), ('__label__SHOES', 0.250287264585495)]

In [23]:
getLabels("365 Everyday Value Maximum Digestive Health Probiotic Billion CFU")[0][0][9:]

'GROCERY'

In [37]:
# label_correlation = []
# for index,row in df[['name','category']].iterrows():
#     for (label,prob) in getLabels(row['name']):
#         label_correlation.append([row['category'],label[9:],prob])

In [39]:
import pickle 
# with open("label_correlation.csv","wb") as label_file:
#     pickle.dump(label_correlation,label_file)
with open("label_correlation.csv","rb") as label_file:
    label_correlation = pickle.load(label_file)

In [40]:
len(label_correlation)

117909

In [41]:
label_correlation[:10]

[['CELLULAR_PHONE_CASE', 'CELLULAR_PHONE_CASE', 0.9998881816864014],
 ['OFFICE_PRODUCTS', 'OFFICE_PRODUCTS', 0.1819745898246765],
 ['SHOES', 'SHOES', 0.9968297481536865],
 ['HOME_BED_AND_BATH', 'HOME_BED_AND_BATH', 0.9901714324951172],
 ['SHOES', 'SHOES', 0.893153190612793],
 ['SHOES', 'SANDAL', 0.7175414562225342],
 ['SHOES', 'SHOES', 0.2793114185333252],
 ['SHOES', 'SHOES', 0.5180142521858215],
 ['SHOES', 'SANDAL', 0.29658058285713196],
 ['HOME', 'HOME', 0.9626740217208862]]

In [50]:
label_df = pd.DataFrame(label_correlation,columns=['cat1','cat2','prob'])

In [51]:
label_df = label_df.sort_values(by="prob",ascending=False)

In [52]:
label_df = label_df[label_df.cat1 != label_df.cat2]

In [53]:
label_df.head()

         cat1     cat2      prob
8796     BOOT    SHOES  0.999428
94995   CHAIR  GROCERY  0.998972
59052   CHAIR  GROCERY  0.998972
85859    BOOT    SHOES  0.997657
100736   BOOT    SHOES  0.997657

In [54]:
label_df.to_csv("label_df.csv",index=False)

In [55]:
label_df = pd.read_csv("label_df.csv")

In [56]:
g1 = label_df.groupby(by=["cat1",'cat2']).sum().reset_index().sort_values(by="prob",ascending=False)

In [57]:
g1 = g1.sort_values(by="prob",ascending=False)

In [59]:
g1.describe()

              prob
count  1840.000000
mean      3.286712
std      13.416960
min       0.100089
25%       0.160079
50%       0.415097
75%       1.378442
max     211.630534

In [58]:
g1.head()

           cat1       cat2        prob
250        BOOT      SHOES  211.630534
1472      SHOES       BOOT  197.665964
802         HAT  ACCESSORY  179.707335
43    ACCESSORY        HAT  168.658458
1400     SANDAL      SHOES  167.815899

In [60]:
top  = g1[g1.prob>=4]

In [61]:
top['key']= top.apply(lambda row:"-".join(sorted([row['cat1'],row['cat2']])),axis=1)

/tmp/ipykernel_47/395596978.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top['key']= top.apply(lambda row:"-".join(sorted([row['cat1'],row['cat2']])),axis=1)

In [77]:
corr = top.groupby(by="key").sum().sort_values(by="prob",ascending=False).reset_index()

In [78]:
corr.head(10)

                                   key        prob
0                           BOOT-SHOES  409.296497
1                        ACCESSORY-HAT  348.365792
2                         SANDAL-SHOES  308.301973
3               HOME-HOME_BED_AND_BATH  245.049009
4         GROCERY-HEALTH_PERSONAL_CARE  199.164474
5  FINENECKLACEBRACELETANKLET-NECKLACE  163.419520
6                         GROCERY-HERB  136.447610
7                  EARRING-FINEEARRING   98.311560
8                       COFFEE-GROCERY   93.810375
9                       BEAUTY-GROCERY   79.301497

In [79]:
corr.to_csv("corss.csv",index=False)

In [80]:
corr = pd.read_csv("corss.csv")

In [81]:
corr.head(10)

                                   key        prob
0                           BOOT-SHOES  409.296497
1                        ACCESSORY-HAT  348.365792
2                         SANDAL-SHOES  308.301973
3               HOME-HOME_BED_AND_BATH  245.049009
4         GROCERY-HEALTH_PERSONAL_CARE  199.164474
5  FINENECKLACEBRACELETANKLET-NECKLACE  163.419520
6                         GROCERY-HERB  136.447610
7                  EARRING-FINEEARRING   98.311560
8                       COFFEE-GROCERY   93.810375
9                       BEAUTY-GROCERY   79.301497

In [69]:
top.to_csv("top.csv",index=False)

In [70]:
top = pd.read_csv("top.csv")

In [71]:
top.head()

        cat1       cat2        prob            key
0       BOOT      SHOES  211.630534     BOOT-SHOES
1      SHOES       BOOT  197.665964     BOOT-SHOES
2        HAT  ACCESSORY  179.707335  ACCESSORY-HAT
3  ACCESSORY        HAT  168.658458  ACCESSORY-HAT
4     SANDAL      SHOES  167.815899   SANDAL-SHOES

In [29]:
g1.mean().to_csv("cat_cor.csv")

/tmp/ipykernel_56/3660448926.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  g1.mean().to_csv("cat_cor.csv")

In [42]:
top.head(10)

,cat1,cat2,prob,key
250,BOOT,SHOES,211.630534,BOOT-SHOES
1472,SHOES,BOOT,197.665964,BOOT-SHOES
802,HAT,ACCESSORY,179.707335,ACCESSORY-HAT
43,ACCESSORY,HAT,168.658458,ACCESSORY-HAT
1400,SANDAL,SHOES,167.815899,SANDAL-SHOES
1476,SHOES,SANDAL,140.486074,SANDAL-SHOES
890,HOME_BED_AND_BATH,HOME,126.918759,HOME-HOME_BED_AND_BATH
861,HOME,HOME_BED_AND_BATH,118.130251,HOME-HOME_BED_AND_BATH
826,HEALTH_PERSONAL_CARE,GROCERY,116.457325,GROCERY-HEALTH_PERSONAL_CARE
842,HERB,GROCERY,112.258259,GROCERY-HERB

In [43]:
top_children = top[top.cat1.isin(top_cats_unique) & ~top.cat2.isin(top_cats_unique)]

In [44]:
top_children.head(20)

,cat1,cat2,prob,key
43,ACCESSORY,HAT,168.658458,ACCESSORY-HAT
363,CHAIR,SOFA,35.380482,CHAIR-SOFA
360,CHAIR,OUTDOOR_LIVING,33.781202,CHAIR-OUTDOOR_LIVING
738,GROCERY,COFFEE,30.624957,COFFEE-GROCERY
901,HOME_FURNITURE_AND_DECOR,CLOCK,25.635597,CLOCK-HOME_FURNITURE_AND_DECOR
743,GROCERY,HERB,24.189350,GROCERY-HERB
880,HOME,WALL_ART,23.804230,HOME-WALL_ART
915,HOME_FURNITURE_AND_DECOR,RUG,23.654452,HOME_FURNITURE_AND_DECOR-RUG
823,HEALTH_PERSONAL_CARE,BEAUTY,22.502882,BEAUTY-HEALTH_PERSONAL_CARE
734,GROCERY,BEAUTY,18.403554,BEAUTY-GROCERY
884,HOME_BED_AND_BATH,FLAT_SHEET,16.900919,FLAT_SHEET-HOME_BED_AND_BATH
366,CHAIR,SWATCH,15.086162,CHAIR-SWATCH
895,HOME_BED_AND_BATH,PILLOW,12.851278,HOME_BED_AND_BATH-PILLOW
917,HOME_FURNITURE_AND_DECOR,SOFA,10.972431,HOME_FURNITURE_AND_DECOR-SOFA
46,ACCESSORY,SHOES,8.970107,ACCESSORY-SHOES
870,HOME,OFFICE_PRODUCTS,7.727028,HOME-OFFICE_PRODUCTS
864,HOME,HOME_MIRROR,7.533122,HOME-HOME_MIRROR
921,HOME_FURNITURE_AND_DECOR,SWATCH,7.250338,HOME_FURNITURE_AND_DECOR-SWATCH
42,ACCESSORY,HANDBAG,5.635020,ACCESSORY-HANDBAG
744,GROCERY,PET_SUPPLIES,5.092795,GROCERY-PET_SUPPLIES

In [49]:
top_children.groupby(by="cat1").sum()

                                prob
cat1
ACCESSORY                 188.099439
CHAIR                      84.247846
GROCERY                    78.310657
HEALTH_PERSONAL_CARE       22.502882
HOME                       39.064380
HOME_BED_AND_BATH          29.752197
HOME_FURNITURE_AND_DECOR   67.512818
TABLE                       4.969194

In [ ]:
top.groupby(

In [45]:
pairs = [ (pair.split("-")[0],pair.split("-")[1]) for pair in top['key'].unique()]

pairs

p_df = pd.DataFrame(pairs,columns=['cat1','cat2'])

p_df[(p_df.cat2=='PILLOW') ].head(30)

child1 = p_df.groupby(by="cat1").count().reset_index().sort_values(by="cat2",ascending=False)



child1 = child1[child1.cat2>2]

child1.describe()

top_cats = child1[child1.cat2>10].head(20)['cat1'].to_list()

child2 = p_df.groupby(by="cat2").count().reset_index().sort_values(by="cat1",ascending=False)

child2 = child2[child2.cat1>2]

top_cats = top_cats + child2[child2.cat1>10].head(20)['cat2'].to_list()

top_cats_unique = list(set(top_cats))

top_cats_unique

['GROCERY', 'HOME', 'HOME_FURNITURE_AND_DECOR']

In [46]:
child2.describe()

            cat1
count  19.000000
mean    5.263158
std     3.739312
min     3.000000
25%     3.000000
50%     4.000000
75%     6.000000
max    18.000000

In [90]:
child2[child2.cat1>10].head(20)

                         cat2  cat1
24                    GROCERY    32
35                       HOME    30
122            SPORTING_GOODS    15
46                    KITCHEN    13
140                     TABLE    13
36          HOME_BED_AND_BATH    12
32       HEALTH_PERSONAL_CARE    12
37   HOME_FURNITURE_AND_DECOR    11

In [47]:
top[top.cat1.isin()

           cat1       cat2        prob            key
250        BOOT      SHOES  211.630534     BOOT-SHOES
1472      SHOES       BOOT  197.665964     BOOT-SHOES
802         HAT  ACCESSORY  179.707335  ACCESSORY-HAT
43    ACCESSORY        HAT  168.658458  ACCESSORY-HAT
1400     SANDAL      SHOES  167.815899   SANDAL-SHOES

In [6]:
from faker import Faker
fake = Faker()

In [20]:
def getRandomUser():
    name = fake.name()
    email = fake.email() 
    address = fake.address()
    date_joined = fake.date_time_this_century()
    return [ name, email, address, date_joined]

In [21]:
def gadgetLover():

IndentationError: expected an indented block (191213573.py, line 1)

In [22]:
getRandomUser()

['Robert Wall',
 'owaters@example.com',
 '0623 Logan Well Apt. 586\nCrystalborough, MA 50927',
 datetime.datetime(2016, 3, 30, 1, 27, 44)]

In [5]:
fake.name()

'David Mcmahon'